.BackgroundImage {
  width: 100vw;
  height: 50vh;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#cropped_image {
  width: 100%;
  position: relative;
  top: 0px;
  transform: translateY(-10%);
  object-fit: cover;
  filter: blur(5px) brightness(0.6) contrast(0.9);
}

.MangaInfo {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 20px;
  z-index: 10;
}

.MangaInfo .Thumbnail {
  height: 40vh;
  border-radius: 10px;
  z-index: 10;
}

.MangaInfo .TextBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  max-width: 70vw;
  height: 40vh;
}

.MangaInfo .TextBox h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
  margin: 10px;
  margin-top: 0px;
  z-index: 10;
}

.MangaInfo .TextBox h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin: 10px;
  margin-top: 0px;
  z-index: 10;
}

.MangaInfo .ActionButtons {
  display: flex;
  flex-direction: row;
  gap: 1px;
  z-index: 10;
}

.MangaInfo .ActionButtons .ActionBtn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d97c2b;
  color: white;
  height: 6.5vh;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
.MangaInfo .ActionButtons #AddReadingBtn {
  width: 15vw;
}

.MangaInfo .ActionButtons #AddFavoriteBtn {
  width: 5vw;
  background-color: rgba(217, 124, 43, 0.52);
}

.MangaInfo .ActionButtons #AddReadingBtn:hover {
  background-color: rgba(217, 124, 43, 0.52);
}
