.SearchPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 10px;
  padding-top: 45px;
  gap: 50px;
}

.ResultsBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 25px;
  padding: 10px;
}

#loading_logo {
  display: flex;
  flex-direction: column;

  align-self: center;
  justify-self: center;

  align-content: center;
  justify-content: center;
  height: 50vh;
}
