.SearchResult {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 697px;
  max-height: 220px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 25px;
}

.SearchResult img {
  flex: 0.10;
  border-radius: 15px;
  object-fit: contain;
}

.SummaryBox {
  display: flex;
  flex-direction: column;
  width: 100%;

  color: #343a40;
  font-size: min(2vw, 2vh);
  font-family: 'Open Sans', sans-serif;
}

.SummaryBox .TitleBox {
  display: flex;
  flex-direction: row;
  /* justify-content: centero; */
  align-items: baseline;
  justify-content: space-between;
  padding-right: 10px;
  width: 90%;
}

.SummaryBox .TitleBox h3 {
  color: #343a40;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  font-weight: 900;
  font-style: bold;
  font-size: 18px;
  line-height: 21px;
}

.SummaryBox .TitleBox button {
  border-style: none;
  border-radius: 100%;
  background-color: #d97c2b;
  display: flex;
  align-items: center;
  color: var(--main-bg-color);
  width: 25px;
  height: 25px;
}

.TagBox {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.TagBox .Tag {
  background-color: #d97c2b;
  border-radius: 5px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vh;
}

.Summary {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0.8;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
