.MangaSection {
  height: auto;
  margin-top: 14vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.Divider {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.DividerLine {
  background-color: #343a40;
  width: 25vw;
  height: 0.1vh;
}

.Gallery {
  width: 70vw;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 15fr)); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  align-items: baseline;
  column-gap: 1px;
  row-gap: 10px;
}

h3 {
  padding-left: 10px;
  margin-bottom: 0;
  color: #343a40;
  font-family: 'Open Sans', sans-serif;
}
